@import "tailwindcss";

@theme {
  --font-heading: var(--font-cinzel); 
  --font-body: var(--font-lato);

  --color-gold: #D4AF37;
  --color-dark: #1A1A1A;
}

html {
  scroll-behavior: smooth;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}